*/__pycache__/
*/*/__pycache__/
*/.mypy_cache/
*/config.py
*/echo_bot.py
*/news.db
elevennote/notes/
elevennote/*/__pycache__/
elevennote/*/*/__pycache__/
elevennote/*/*/*/__pycache__/
elevennote/src/db.sqlite3
elevennote/src/config/settings/settings.ini
cluster/examples/_*
cluster/_*